each item in items
  tr
    td 
      img(src=app.thumbnail(item.person.image, 60))
    td.name= item.person.name
    td
      img(src=app.thumbnail(item.equipment.image, 60))
    td 
      .name= item.equipment.name
    td
      .started
        label From
        | #{app.dateFormat.dateTime(item.started)}
      .finished
        label To
        | #{app.dateFormat.dateTime(item.finished)}
      .total
        label Total time
        span !{(item.time?msToHm(item.time):'')}