each item in items
  tr
    td.noborder(colspan=4)
      .date-time
        .started= app.dateFormat.dateTime(item.started)
        .finished= app.dateFormat.dateTime(item.finished)
        h3.time !{(item.time?msToHm(item.time):'')}
  tr
    td 
      img(src=app.thumbnail(item.person.image, 60))
    td.name= item.person.name
    td
      img(src=app.thumbnail(item.equipment.image, 60))
    td 
      .name= item.equipment.name