- now = new Date()
- lastDate = new Date(now.getFullYear(), now.getMonth() + 1, now.getDate())
h2 Needing maintenance
table
  each item in needsMaintenance
    tr(onclick='app.goto("equipment/' + item.id + '")')
      td.shrink
        img(src=app.thumbnail(item.image, 50))
      td
        .equipment-details
          .name= item.name
          | !{app.schedule.boxTemplate(item)}
      td.r !{msToHm(item.timeLeft)}
      //td.r= msToHm(item.scheduleMs)
h2 Currently signed out
.currentEvents
  each item in currentEvents
    - if(lastDate.getMonth() != new Date(item.attachedDate).getMonth())
      - thisDate = new Date(item.attachedDate)
      .month-year #{thisDate.toGMTString().split(/ /g)[2]} #{thisDate.getFullYear()}
      - lastDate = thisDate
    .event-holder
      .myevent(pan='delete', id='ce_0-' + item.attachedTo.id + '-' + item.id)
        .date
          .day
            .dayname= ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'][new Date(item.attachedDate).getDay()]
            .num= new Date(item.attachedDate).getDate()
          .time= new Date(item.attachedDate).toLocaleTimeString().replace(/:\d\d$/, '')
        .myequipment
          .img
            img(src=app.thumbnail(item.image, 50))
          .equipment-details(onclick='app.goto("equipment/' + item.id + '")')
            .name= item.name
            | !{app.schedule.boxTemplate(item)}
        .myperson
          .img
            img(src=app.thumbnail(item.attachedTo.image, 50))
          .name(onclick='app.goto("person/' + item.attachedTo.id + '")')= item.attachedTo.name
      .controls
        .button-holder
          button(onclick='app.signIn("' + item.id + '")') Sign in
          if app.permissions.isAdmin()
            button(onclick='app.deleteEvent("' + item.id + '")') Delete
