each item in items
  tr(onclick='app.goto("/person/' + item.id + '")')
    td 
      img(src=app.thumbnail(item.image))
    td.full
      .name #{item.name}
      .trip-details
        .totalTime 
          .icon.icon-time
          .time !{msToHm(item.totalTime)}
        .totalUses 
          .icon.icon-trip
          | #{item.totalUses}
      if item.attachedTo
        .attached
          img(src=app.thumbnail(item.attachedTo.image, 40))
          .attached-name= item.attachedTo.name